@model eBank.ViewModels.RankAndPointsViewModel

<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

<ul id="RankAndPointsList" style="margin-left:auto;margin-right:auto">
    <li>Points: @Model.Points</li>
    <li>Rank: @Model.Rank/@Model.StudentTotal Students</li>
</ul>
