@{
    ViewBag.Title = "Index";
}

<h2 align="center">Welcome!</h2>

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Students", "ListStudents", "Teacher")</li>
        <li>@Html.ActionLink("Classrooms", "ListClassrooms", "Teacher")</li>
    </ul>
</nav>