@{
    ViewBag.Title = "DailyEvents";
}

<link rel="stylesheet" type="text/css" href="~/Content/Simulation.css" />

<p class="content-wrapper">
    The daily Events feature will display several random events each day and depending on the users choice, stats and simulation elements such as Income/Expenses/Fees will be affected by the user's choice.
</p>
