@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_FoodLayout.cshtml";
}

@model eBank.Models.Store

<link rel="stylesheet" type="text/css" href="~/Content/Simulation.css" />

<div class="freshdesignweb">
    <article class="border c-two" style="background-image: url('/Content/images/Fancy.jpg')">
        <div style="opacity: 0;" class="fdw-background">
            <h4 style="color:#fff;">Fancy Schmancy</h4>
            <p class="fdw-port">
                @Ajax.ActionLink("Go Now", "GotoFancy", "Simulation", new AjaxOptions { UpdateTargetId = "Rest", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })<span class="vg-icon">→</span>
            </p>
        </div>
    </article>

    <article class="border c-two" style="background-image: url('/Content/images/Burger.jpg')">
        <div style="opacity: 0;" class="fdw-background">
            <h4 style="color:#fff;">Burger Barn</h4>
            <p class="fdw-port">
                @Ajax.ActionLink("Go Now", "GotoBurger", "Simulation", new AjaxOptions { UpdateTargetId = "Rest", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })<span class="vg-icon">→</span>
            </p>
        </div>
    </article>

    <article class="border c-two" style="background-image: url('/Content/images/Ramen.jpg')">
        <div style="opacity: 0;" class="fdw-background">
            <h4 style="color:#fff;">Ramen Emporium</h4>
            <p class="fdw-port">
                @Ajax.ActionLink("Go Now", "GotoRamen", "Simulation", new { id = 3 }, new AjaxOptions { UpdateTargetId = "Rest", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })<span class="vg-icon">→</span>
            </p>
        </div>
    </article>
</div>

<div id="Rest">

</div>
 