@{
    ViewBag.Title = "SimulationSettings";
}

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Students", "ListStudents", "Admin")</li>
        <li>@Html.ActionLink("Teachers", "ListTeachers", "Admin")</li>
        <li>@Html.ActionLink("Classrooms", "ListClassrooms", "Admin")</li>
        <li>@Html.ActionLink("Simulation Settings", "SimulationSettings", "Admin")</li>
    </ul>
</nav>

<h2 align="center">SimulationSettings</h2>

<p align="center">
    Simulation Settings is currently in the process of being built. Once Finished, Admins will be able to change variables such as student income and other simulation variables.
</p>
